<form [formGroup]="frameContentForm" class="frame-content-form">
    <div class="Titre">
        <label class="center-block center">
            <input class="form-control" type="text"
                   formControlName="title" placeholder="title">
            <img rel="icon" class="icon" src="../../../../../assets/drag-flick.svg"/>
        </label>
    </div>
    <div class="Logo">
        <label class="center-block">
            <input class="form-control" type="text" placeholder="EPF.png"
                   formControlName="logo" #logo name="logo">
        </label>
    </div>

    <div formArrayName="frameItem"  class="item-content" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of frameItemForm.controls; let i=index" [formGroupName]="i" cdkDrag>
            <ng-template [ngIf]="frameItemForm.controls.length != 0">
                <mat-divider class="p-1"></mat-divider>
            </ng-template>
            <img rel="icon" class="icon" src="../../../../../assets/drag-flick.svg"/>
            <input class="form-control" formControlName="titleItem" placeholder="titleItem">
            <input class="form-control" formControlName="period" placeholder="period">
            <input class="form-control" formControlName="location" placeholder="location">
            <input class="form-control" formControlName="logoItem" placeholder="logoItem">
            <input class="form-control" formControlName="content" placeholder="content">
            <br><br>
            <button class="btn btn-warning pad-down" (click)="deleteFrameItem(i)">delete</button>
        </div>
    </div>
    <button class="btn pad-r" (click)="addFrameItem()">Add</button>
    <button class="btn" (click)="save()">Save element</button>

</form>
