h1 {
    color: #A34553;
    margin-top: 2%;
    margin-bottom: 7%;
    font-family: 'Permanent Marker', cursive;
}
.row {
    margin: 5%;
}
a:hover {
    text-decoration: none;
}
.names {
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
    color: #a45f69;
}

.icon {
    height: 1em;
    filter: invert(72%) sepia(45%) saturate(1054%) hue-rotate(354deg) brightness(105%) contrast(101%);
}
a { color: white; }
