<app-home-header></app-home-header>
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12">
        <h1 class="">Consult existing resumes</h1>
        <p *ngFor="let user of users" class="names">
            <a routerLink="/{{user.id}}">
                <span class="no-link p-4">{{user.firstName}} {{user.lastName}}</span>
            </a>
            <a routerLink="/back/edit/{{user.id}}"><img class="icon edit" src="../assets/edit.svg"></a>
        </p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <h1>Create your own resume</h1>
        <a routerLink="user/new" >
            <img class="col-md-8 col-lg-8 col-sm-12" src='../assets/cv_sample.PNG' alt="Link to create your own resume">
        </a>
    </div>
</div>
