<div *ngFor="let frameItem of content.frameItem | orderBy: 'order'">
    <p><span *ngIf="frameItem.period || frameItem.location">
            <span *ngIf="frameItem.period" class="period">{{frameItem.period}}</span>
            <span class="location" *ngIf="frameItem.location">  | {{frameItem.location}}</span><br>
        </span>
        <img *ngIf="frameItem.logo" class="icon space" src={{frameItem.logo}}>
        <span class="company">{{frameItem.title}}</span><br>
        {{frameItem.content}}</p>
</div>

