<div *ngIf="user" class="headerCV row">
    <div class="col-sm-1 col-md-2 col-lg-2 centerImg">
        <img *ngIf="user.picture" class="profilePicture" src={{user.picture}} alt="profilePicture">
    </div>
    <div class="col-sm-10 col-md-7 col-lg-7">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <h2 *ngIf="user.bio">{{user.bio}}</h2>
    </div>
    <div class="col-sm-1 col-md-3 col-lg-3">
        <div class="row">
            <a href="/{{user.id}}#contactForm" class="btn btn-light">Contact Me</a>
            <button (click)="downloadResumePDF(user.firstName, user.lastName)" class="btn btn-light material-icons">get_app<span class="download">PDF</span></button>
            <button (click)="downloadResumeJSON(user.firstName, user.lastName)" class="btn btn-light material-icons">get_app<span class="download">JSON</span></button>
            <a routerLink="/back/edit/{{user.id}}" class="btn btn-light">Edit</a>
            <a routerLink="/" class="btn btn-light">Home</a>
        </div>
        <div *ngIf="user.socialLink" class="row">
            <a *ngFor="let socialNetwork of user.socialLink" href={{socialNetwork.link}}>
                <img class="icon" src={{socialNetwork.logo}} alt="{{socialNetwork.name}}">
            </a>
        </div>
    </div>
</div>
