.headerCV {
    background-color: #A34553;
    margin-bottom: 20px;
}
.profilePicture {
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 10px;
}
.centerImg {
    text-align: center;
}
.icon {
     width: 2em;
     height: 2em;
     margin: 0.5em;
}
.download {
    font-size: medium;
    font-family: 'Fira Sans', 'Raleway', "Trebuchet MS", Roboto, "Helvetica Neue", sans-serif;
}
h1 {
    color: #323232;
    margin-top: 3%;
    font-family: 'Permanent Marker', cursive;
}
h2 {
    color: white;
    font-size: large;
}
a, button {
    margin-top: 5%;
    margin-left: 5px;
}


