h1 {
    color: #A34553;
    margin-top: 20px;
}
h2 {
    color: white;
    font-size: large;
}

.headerCV {
    background-color: #A34553;
    margin-bottom: 20px;
}
button {
    margin-top: 20px;
}
