.headerCV {
    background-color: #A34553;
    margin-bottom: 20px;
}
.profilePicture {
    margin-left: 10%;
    width: 60%;
}
.icon {
     width: 2em;
     height: 2em;
     margin: 0.5em;
}
h1 {
    color: #323232;
    margin-top: 3%;
    font-family: 'Permanent Marker', cursive;
}
h2 {
    color: white;
    font-size: large;
}
a {
    margin-top: 5%;
    margin-left: 5px;
}


