.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
            "Date Date Location Location"
            "Logo Titre Titre Titre"
            "Content Content Content Plus";
}
.Titre { grid-area: Titre; }
.Date { grid-area: Date; }
.Logo { grid-area: Logo; }
.Content { grid-area: Content; }
.Plus { grid-area: Plus; }
.Location { grid-area: Location; }
