
.headerCV {
    margin-left: 100px;
    margin-bottom: 20px;
}
.frameItem {
    background-color: lightcoral;
}
/*.period, .location, .icon, .frameTitle, .frameContent {
    margin: 10px;
}*/
.sectionTitle {
    background-color: #73F0E3;
    color: white;
    font-size: x-large;
}
.titleIcon {
    width: 1em;
    height: 1em;
}
.icon {
    width: 2em;
    height: 2em;
}
.period {
    font-style: italic;
    font-size: large;
}
.space {
    margin-left: 15px;
}

.badge {
    font-size: 1em;
    color: white;
    background-color: #A34553;
}

h1 {
    color: lightcoral;
    margin-top: 20px;
}
h2 {
    color: white;
    font-size: large;
}
p {
    color: lavender;
}
a {
    color: lavender;
    text-decoration: none;
}


/*.bdr {
    border: solid darkred;
}*/
