<app-side-bar></app-side-bar>

<section class="row">
    <p class="col-md-3">PHOTO ICI</p>
    <h1 class="col-md-9">{{User.firstname}} {{User.lastname}}</h1>
</section>
<section class="row">
    <div class="col-md-4">
        <h2>About Me</h2>
            <p>20 allée des ifs <br/> 78510 Triel Sur Seine <br/> France</p>
            <p>+33 6 15 11 44 71</p>
            <p>email</p>
            <p>lien linkedin</p>
            <p>lien github</p>
        <h2>Skills</h2>
            <p>Anglais TOEIC 990 (inch)</p>
            <p>Espagnol B2</p>
        <h2>Hobbies</h2>
            <p>Natation</p>
            <p>Equitation</p>
    </div>
    <div class="col-lg-8">
        <h2>Experience</h2>
        <h2>Education</h2>
        <h2>Projects</h2>
    </div>
</section>

