
.margins {
    //border: solid aqua;
    margin: 15px;
}

.headerCV {
    margin-left: 100px;
    margin-bottom: 20px;
}
.sectionTitle {
    background-color: cornflowerblue;
    color: white;
    font-size: x-large;
}
.titleIcon {
    width: 3em;
    height: 3em;
}
.icon {
    width: 2em;
    height: 2em;
}
.period {
    font-style: italic;
    font-size: large;
}

h1 {
    color: lightcoral;
    margin-top: 20px;
}
h2 {
    color: white;
    font-size: large;
}
a {
    /*color: lavender;*/
    text-decoration: none;
}
p, a {
    color: lavender;
}


/*.bdr {
    border: solid darkred;
}*/
