<div class="content" *ngIf="user">

    <form [formGroup]="userForm" novalidate class="form-group">
        <div class="form-group">
            <p>Nom :
                <label class="center-block">
                    <input class="form-control" type="text" placeholder="DUPONT"
                           formControlName="inLastname">
                </label>
            </p>
            <p>Prénom :
                <label class="center-block">
                    <input class="form-control" type="text" placeholder="Jean"
                           formControlName="inFirstname" #inFirstname>
                </label>
            </p>
            <p>Mail :
                <label class="center-block">
                    <input class="form-control" type="email" placeholder="Your current email address"
                           formControlName="inMail" #inMail>
                </label>
            </p>
            <p>Numéro de téléphone :
                <label class="center-block">
                    <input class="form-control" type="tel" placeholder="06 45 28 46 45"
                           formControlName="inphone" #inphone>
                </label>
            </p>
            <p>Ajout d'une compétence :
                <label class="center-block">
                    <input class="form-control" type="text" placeholder="Angular !"
                           formControlName="inSkills" #inSkills>
                </label>
            </p>
            <p>Ajout d'un lien vers un réseau :
                <label class="center-block">
                    <input class="form-control" type="text" placeholder="URL de profil"
                           formControlName="inSocial" #inSocial>
                </label>
            </p>
            <p>Ajout d'un Hobbie :
                <label class="center-block">
                    <input class="form-control" type="text" formControlName="inHobbies" #inHobbies>
                </label>
            </p>
            <p>
                <label class="center-block">Décrivez vous en quelques phrases :
                    <textarea class="form-control" type="text" formControlName="inBio" #inBio cols="40" rows="5"></textarea>
<!--                    <input class="form-control" type="text" formControlName="inBio" #inBio>-->
                </label>
            </p>


        </div>
    </form>

    <button type="button" class="btn btn-primary" routerLink="/back/edit">Créer un CV !</button>


    <!--            <p>Debug HTML :</p>-->
                <p>Form value: {{ userForm.value | json }}</p>
                <p>Form status: {{ userForm.status | json }}</p>
    <span>{{ user.lastName }}</span><br><br>
    <button type="button" class="btn btn-primary" (click)="updateUserFromForm()">Test formulaire</button>

</div>







<!--    <mat-form-field appearance="legacy">-->
<!--        <mat-label>Legacy form field</mat-label>-->
<!--        <input matInput placeholder="Placeholder">-->
<!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
<!--        <mat-hint>Hint</mat-hint>-->
<!--    </mat-form-field>-->


<!--            <tr>-->
<!--                <ul><input formControlName="inLastname" placeholder="name"/></ul>-->
<!--                <ul>{{ user.lastName }}</ul>-->
<!--                <ul>{{ user.skills[1].name }}</ul>-->
<!--                <ul><button (click)="updateUserFromForm()">Update User</button></ul>-->
<!--            </tr>-->
