<p>Set your name : <input type="text" [formControl]="inName"></p>
<p>Ajout d'un lien vers un réseau : <input type="text" [formControl]="inSocial"></p>
<p>Décrivez vous en quelques phrases : <input type="text" [formControl]="inInfo"></p>
<p>Ajout d'un Hobbie : <input type="text" [formControl]="inHobbies"></p>
<p>Ajout d'une expérience de projet : <input type="text" [formControl]="inProjects"></p>



<div class="example-box" cdkDrag>
    <p>Ajout d'une compétence : <input type="text" [formControl]="inSkills"></p>
</div>
