<div id="contactForm" class="row contactMeForm">
    <h1 class="col-md-12 col-lg-12 col-sm-12 center">Contact me</h1>

    <div class="container" >
    <form [formGroup]="mailForm" (ngSubmit)="onSubmit(mailForm.value)">
        <div class="form-group center col-sm-12 col-md-12 col-lg-12">
            <label for="name">Your e-mail address</label>
            <input type="text" id="name" formControlName="contact">
        </div>
        <div class="form-group center col-sm-12 col-md-12 col-lg-12">
            <label for="content">Message content</label>
            <textarea id="content" rows="15" formControlName="content"></textarea>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-light col-sm-12 col-md-12 col-lg-12" type="submit">Send</button>
        </div>
    </form>
    </div>
</div>
