<div class="content">
    <div class="card">
        <form [formGroup]="userForm" novalidate class="form-group grid-container">
            <div class="inFirstname form-group">
                <p>Prénom* :<br>
                    <label class="center-block">
                        <!--If form is selected once and left empty with errors : add alert class alert-danger to the input element-->
                        <input class="form-control"
                               [ngClass]="{'alert alert-danger' : (userForm.get('inFirstname').errors && (userForm.get('inFirstname').touched || userForm.get('inFirstname').dirty))}"
                               type="text" placeholder="Jean"
                               formControlName="inFirstname" #inFirstname>
                        <span class="help-block" *ngIf="((userForm.get('inFirstname').touched || userForm.get('inFirstname').dirty) && userForm.get('inFirstname').errors)">
                            <span class="error" *ngIf="userForm.get('inFirstname').errors.required">
                                First name is Mandatory
                            </span>
                            <span class="error" *ngIf="userForm.get('inFirstname').errors.minlength ||
                                userForm.get('inFirstname').errors.maxlength">
                                Must contain between <br>2 and 25 characters
                            </span>
                        </span>
                    </label>
                </p>
            </div>
            <div class="inLastname form-group">
                <p>Last name* :<br>
                    <label class="center-block">
                        <!--If form is selected once and left empty with errors : add alert class alert-danger to the input element-->
                        <input class="form-control"
                               [ngClass]="{'alert alert-danger' : (userForm.get('inLastname').errors && (userForm.get('inLastname').touched || userForm.get('inLastname').dirty))}"
                               type="text" placeholder="DUPONT"
                               formControlName="inLastname" #inLastname>

                        <span class="help-block" *ngIf="((userForm.get('inLastname').touched || userForm.get('inLastname').dirty) && userForm.get('inLastname').errors)">
                            <span class="error" *ngIf="userForm.get('inLastname').errors.required">
                                Last name is Mandaroty
                            </span>
                            <span class="error" *ngIf="userForm.get('inLastname').errors.minlength ||
                                userForm.get('inLastname').errors.maxlength">
                                Must contain between <br>2 and 25 characters
                            </span>
                        </span>
                    </label>
                </p>
            </div>

            <div class="inMail form-group">
                <p>Email* :<br>
                    <label class="center-block">
                        <!--If form is selected once and left empty with errors : add alert class alert-danger to the input element-->
                        <input class="form-control" name="email" ngModel [email]="true"
                               [ngClass]="{'alert alert-danger' : (userForm.get('inMail').errors && (userForm.get('inMail').touched || userForm.get('inMail').dirty))}"
                               type="email" placeholder="Your current email address"
                               formControlName="inMail" #inMail>
                        <span class="help-block" *ngIf="((userForm.get('inMail').touched || userForm.get('inMail').dirty) && userForm.get('inMail').errors)">
                            <span class="error" *ngIf="userForm.get('inMail').errors.required">
                                Email is Mandaroty
                            </span>
                            <span class="error" *ngIf="userForm.get('inMail').errors.pattern">
                                Please enter a valid Email
                            </span>
                        </span>
                    </label>
                </p>
            </div>
            <div class="inPhone form-group">
                <p>Phone Number* :<br>
                    <label class="center-block">
                        <!--If form is selected once and left empty with errors : add alert class alert-danger to the input element-->
                        <input class="form-control"
                               [ngClass]="{'alert alert-danger' : (userForm.get('inPhone').errors && (userForm.get('inPhone').touched || userForm.get('inPhone').dirty))}"
                               type="text" placeholder="06 45 28 46 45"
                               formControlName="inPhone" #inPhone>
                        <span class="help-block" *ngIf="((userForm.get('inPhone').touched || userForm.get('inPhone').dirty) && userForm.get('inPhone').errors)">
                            <span class="error" *ngIf="userForm.get('inPhone').errors.required">
                                Phone Number is Mandaroty
                            </span>
                            <span class="error" *ngIf="userForm.get('inPhone').errors.pattern">
                                Only numbers are allowed
                            </span>
                        </span>
                    </label>
                </p>
            </div>
            <div class="inBio">
                <p>
                    <label class="center-block">Describe yourself in few words :<br>
                        <textarea class="form-control" type="text" formControlName="inBio" #inBio cols="40" rows="5"></textarea>
                        <!--                    <input class="form-control" type="text" formControlName="inBio" #inBio>-->
                    </label>
                </p>
            </div>
            <div class="inDate">
                <p>Birth Date :<br>
                    <label class="center-block">
                        <input class="form-control" type="string" placeholder="19/08/1998"
                               formControlName="inDate" #inDate>
                    </label>
                </p>
            </div>
            <div class="inAddress">
                <p>Address :<br>
                    <label class="center-block">
                        <input class="form-control" type="string" placeholder="Paris"
                               formControlName="inAddress" #inAddress>
                    </label>
                </p>
            </div>
            <div class="inPicture">
                <p>Profile Picture Link :<br>
                    <label class="center-block">
                        <input class="form-control" type="string" placeholder="Paris"
                               formControlName="inPicture" #inPicture>
                    </label>
                </p>
            </div>
        </form>

        <button type="button" class="btn btn-primary" (click)="createUser()">
            Create you resume !</button><br><br>
    </div>
</div>
