<!--<h3 class="badge col-md-4 col-lg-4">Skills</h3>-->

<div class="row" *ngFor="let skill of skills">
    <div class="col-md-1 col-sm-6"><img class="icon" src={{skill.logo}}></div>
    <div class="col-md-2 col-sm-6"><p class="space">{{skill.name}}</p></div>

    <div class="col-md-6 col-sm-12">
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" [style.width]="skillLevelToPercent(skill.level)+ '%'" aria-valuemin="0" aria-valuemax="5"></div>
        </div>
    </div>
</div>
