html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Fira Sans', 'Raleway', "Trebuchet MS", Roboto, "Helvetica Neue", sans-serif;
    min-height: 100%;
    background-color: #323232
    /*color: lavender;*/
}
p, a {
    color: lavender;
}

