.content{
    width:100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
}
.contentInside{
    /*padding: 20px 10px;*/
    /*border-bottom: solid 1px #ccc;*/
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    cursor: default;
    /*font-size: 14px;*/
}

.pad-bot-list > * {
    margin-bottom: 1em!important;
}

content > * {
    width: 100%;
}
