.icon {
    width: 2em;
    height: 2em;
}
.titleIcon {
    width: 1em;
    height: 1em;
}
.space {
    margin-right: 15px;
}
.badge {
    font-size: 1em;
    color: white;
    background-color: #A34553;
    margin-top: 3%;
}
.separator {
    margin-bottom: 3%;
}
